@font-face {
    font-family: 'Inter';
    src: url(../../vendor/Inter-Regular.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../vendor/Inter-Bold.woff2);
    font-weight: bold;
}

.page {
    color: white;
    background-color: #2A2C2F;
    min-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
}