.place-container {
    width: 984px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "title website" "image text";
    gap: 48px 40px;
    grid-template-columns: 460px 484px;
}

@media screen and (max-width: 1024px) {
    .place-container {
        gap: 48px 32px;
        grid-template-columns: 440px 456px;
    }
}

@media screen and (max-width: 768px) {
    .place-container {
        gap: 48px 28px;
        grid-template-columns: 340px 352px;
    }
}

@media screen and (max-width: 320px) {
    .place-container {
        grid-template-areas: "title" "website" "image" "text";
        gap: 32px;
        grid-template-columns: 1fr;
    }
}