.header__lang-link {
    color: white;
    font-size: 1.5rem;
    line-height: 1.16;
    text-decoration: none;
    margin: 0;
    margin-right: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 1.125rem;
        line-height: 1.11;
    }
}