.place-container__title {
    margin: 0;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.06;
    grid-area: title;
}

@media screen and (max-width: 1023px) {
    .place-container__title {
        font-size: 2.625rem;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .place-container__title {
        margin: 0 auto;
        font-size: 2rem;
        line-height: 1.09;
        width: calc(100% - 32px);
    }
}