.place-container__website {
    grid-area: website;
    align-self: flex-end;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .place-container__website {
        width: calc(100% - 32px);
        margin: 0 auto;
    }
}