.footer__menu-links {
    list-style-type: none;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 0 24px;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .footer__menu-links {
        max-width: calc(100vw - 32px);
        flex-direction: column;
        height: 248px;
        margin-bottom: 48px;
    }
}