.footer__menu-link {
    font-size: 1rem;
    line-height: 1.12;
    color: white;
    text-decoration: none;
    margin-right: 18px;
}

@media screen and (max-width: 767px) {
    .footer__menu-link {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
    }
}