.cover__subtitle {
    max-width: 360px;
    font-size: 1.125rem;
    line-height: 1.22;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 4.375vw;
        line-height: 1.14;
        max-width: calc(100% - 32px);
        font-weight: normal;
    }
}