.place-container__link {
    font-size: 1.125rem;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
}

.place-container__link:hover {
    opacity: 80%;
    transition: opacity 0.5s linear 0.15s;
}