.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 92px;
    height: 740px;
    max-width: 1184px;
    background: url(../../images/dmitrii-vaccinium-22833-unsplash.jpg);
    box-shadow: inset 0 0 0 2000px rgba(42, 44, 47, 0.3);
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover:hover {
    box-shadow: inset 0 0 0 2000px rgba(42, 44, 47, 0.8);
    transition: box-shadow 0.3s linear 0.15s;
}

@media screen and (max-width: 768px) {
    .cover {
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        height: 200px;
        margin-bottom: 64px;
    }
}