.footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: calc(100% - 96px);
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: calc(100vw - 32px);
        flex-direction: column;
    }
}