.intro__title {
    margin: 0 auto 40px;
    padding-top: 92px;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.07;
    text-align: left;
    max-width: 984px;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
        font-size: 2rem;
        line-height: 1.09;
        padding-top: 64px;
    }
}